# local package
-e .

# external requirements
black
xgboost
catboost
lightgbm
ipython
ipykernel
matplotlib
seaborn
imblearn
feature-engine
pandas
scipy
seaborn
numpy
joblib
sklearn
click
Sphinx
coverage
gdown
awscli
python-dotenv>=0.5.1
